<ion-header>
  <ion-toolbar>
    <ion-buttons slot="star">
      <ion-menu-button type="button" color="light"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content>
<ion-row class="font">
  <h1 Class="app-font-lrgr">
    Distribución del Concesionario
  </h1>
</ion-row>
<ion-row class="general ion-align-items-center">
  <ion-col size="0.5"></ion-col>
  <ion-col>
   <div class="home1">
     <div align="left" class="back2">
      <p style="font-size: 25px" class="app-no-margin"> 000 </p>
       <ion-label class="app-font-sml"> Concesionarios Pendientes </ion-label>
      </div>
       <div align="right" class="opacidad">
        <ion-note color="light"> Ver Mas </ion-note>
        <ion-icon name="arrow-forward-circle" color="light"> </ion-icon>
       </div>  
   </div>
  </ion-col>
  <ion-col size="0.5"></ion-col>
  <ion-col class="central">
    <div class="home2">
      <div align="left" class="back2">
       <p style="font-size: 25px" class="app-no-margin"> 000 </p>
        <ion-label class="app-font-sml"> Concesionarios Asignados </ion-label>
       </div>
        <div align="right" class="opacidad detverde">
         <ion-note color="light"> Ver Mas </ion-note>
         <ion-icon name="arrow-forward-circle" color="light"> </ion-icon>
        </div>  
    </div>
  </ion-col>
  <ion-col size="0.5"></ion-col>
  <ion-col>
    <div class="home3">
      <div align="left" class="back2">
       <p style="font-size: 25px" class="app-no-margin"> 000 </p>
        <ion-label class="app-font-sml"> Concesionarios por Asignar </ion-label>
       </div>
        <div align="right" class="opacidad">
         <ion-note color="light"> Ver Mas </ion-note>
         <ion-icon name="arrow-forward-circle" color="light"> </ion-icon>
        </div>  
    </div>
  </ion-col>
  <ion-col size="0.5"></ion-col>
</ion-row>
</ion-content>
