@media (max-width: 576px) {
}

@media (max-width: 820px) {
}

@media (min-width: 820px) {
  /*.app-form-container {
    max-width: 500px;
    margin: 0px auto;
  }*/
}

/* Paddings */
.app-padding-top-sml {
  padding-top: 4px;
}
.app-padding-bottom-sml {
  padding-bottom: 4px;
}
.app-padding-start-sml {
  padding-left: 4px;
}
.app-padding-end-sml {
  padding-right: 4px;
}
.app-padding-vertical-sml {
  padding-top: 4px;
  padding-bottom: 4px;
}
.app-padding-horizontal-sml {
  padding-left: 4px;
  padding-right: 4px;
}
.app-padding-sml {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.app-padding-top-med {
  padding-top: 8px;
}
.app-padding-bottom-med {
  padding-bottom: 8px;
}
.app-padding-start-med {
  padding-left: 8px;
}
.app-padding-end-med {
  padding-right: 8px;
}
.app-padding-vertical-med {
  padding-top: 8px;
  padding-bottom: 8px;
}
.app-padding-horizontal-med {
  padding-left: 8px;
  padding-right: 8px;
}
.app-padding-med {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.app-padding-top-lrg {
  padding-top: 16px;
}
.app-padding-bottom-lrg {
  padding-bottom: 16px;
}
.app-padding-start-lrg {
  padding-left: 16px;
}
.app-padding-end-lrg {
  padding-right: 16px;
}
.app-padding-vertical-lrg {
  padding-top: 16px;
  padding-bottom: 16px;
}
.app-padding-horizontal-lrg {
  padding-left: 16px;
  padding-right: 16px;
}
.app-padding-lrg {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.app-padding-top-xlrg {
  padding-top: 32px;
}
.app-padding-bottom-xlrg {
  padding-bottom: 32px;
}
.app-padding-start-xlrg {
  padding-left: 32px;
}
.app-padding-end-xlrg {
  padding-right: 32px;
}
.app-padding-vertical-xlrg {
  padding-top: 32px;
  padding-bottom: 32px;
}
.app-padding-horizontal-xlrg {
  padding-left: 32px;
  padding-right: 32px;
}
.app-padding-xlrg {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}
.app-no-padding{
  padding: 0px 0px 0px 0px;
}

/* Margins */
.app-margin-top-sml {
  margin-top: 4px;
}
.app-margin-bottom-sml {
  margin-bottom: 4px;
}
.app-margin-start-sml {
  margin-left: 4px;
}
.app-margin-end-sml {
  margin-right: 4px;
}
.app-margin-vertical-sml {
  margin-top: 4px;
  margin-bottom: 4px;
}
.app-margin-horizontal-sml {
  margin-left: 4px;
  margin-right: 4px;
}
.app-margin-sml {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.app-margin-top-med {
  margin-top: 8px;
}
.app-margin-bottom-med {
  margin-bottom: 8px;
}
.app-margin-start-med {
  margin-left: 8px;
}
.app-margin-end-med {
  margin-right: 8px;
}
.app-margin-vertical-med {
  margin-top: 8px;
  margin-bottom: 8px;
}
.app-margin-horizontal-med {
  margin-left: 8px;
  margin-right: 8px;
}
.app-margin-med {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.app-margin-top-lrg {
  margin-top: 16px;
}
.app-margin-bottom-lrg {
  margin-bottom: 16px;
}
.app-margin-start-lrg {
  margin-left: 16px;
}
.app-margin-end-lrg {
  margin-right: 16px;
}
.app-margin-vertical-lrg {
  margin-top: 16px;
  margin-bottom: 16px;
}
.app-margin-horizontal-lrg {
  margin-left: 16px;
  margin-right: 16px;
}
.app-margin-lrg {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.app-margin-top-xlrg {
  margin-top: 32px;
}
.app-margin-bottom-xlrg {
  margin-bottom: 32px;
}
.app-margin-start-xlrg {
  margin-left: 32px;
}
.app-margin-end-xlrg {
  margin-right: 32px;
}
.app-margin-vertical-xlrg {
  margin-top: 32px;
  margin-bottom: 32px;
}
.app-margin-horizontal-xlrg {
  margin-left: 32px;
  margin-right: 32px;
}
.app-margin-xlrg {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}
.app-no-margin{
 margin: 0px 0px 0px 0px
}

/* Font size */
.app-font-xxsml {
  font-size: 9px !important;
}
.app-font-xsml {
  font-size: 10px !important;
}
.app-font-smlr {
  font-size: 12px !important;
}
.app-font-sml {
  font-size: 14px !important;
}
.app-font-med {
  font-size: 16px !important;
}
.app-font-lrg {
  font-size: 18px !important;
}
.app-font-lrgr {
  font-size: 20px !important;
}
.app-font-xlrg {
  font-size: 24px !important;
}
.app-font-xxlrg {
  font-size: 32px !important;
}

.app-col-shrink {
  flex-grow: 0;
}

.app-label-shrink{
  flex: 0 1 auto;
}

.app-ion-item-no-padding-end {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}

.app-ion-item-no-padding {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-start: 0px;
}

.modal-delete-account{
  --width: 350px;
  --height: 170px;
  --border-radius: 10px;
  ion-backdrop {
    --backdrop-opacity: 1;
    background-color: var(--ion-color-purple);
  }
}

.modal-service-location, .modal-punctuation-adviser, .modal-punctuation-client{
  --width: 350px;
  --height: 170px;
  --border-radius: 10px;
  ion-backdrop {
    --backdrop-opacity: 0.8;
    background-color: var(--ion-color-purple);
  }
}

.modal-confirm-request-in-salon{
  --height: 140px;
  --width: 350px;
  --border-radius: 10px;
  ion-backdrop {
    --backdrop-opacity: 0.8;
    background-color: var(--ion-color-purple);
  }
}

.modal-confirm-at-home{
  --height: 70px;
  --width: 200px;
  --border-radius: 35px;
  ion-backdrop {
    --backdrop-opacity: 0.8;
    background-color: var(--ion-color-purple);
  }
}

.modal-delete{
  --height: 220px;
  --width: 400px;
}

.prueba-scroll::-webkit-scrollbar{
  width: 0px;
  background: rgba(0,0,0,0);
}

.modal-add-adviser{
  --height: 400px
}

.modal-add-service{
  --height: 370px;
  --width: 450px;
}