ion-toolbar {
    --background: var(--ion-color-blue); 
} 
.gris{
    --background: var(--ion-color-grey);
}
.row1{
    border-radius: 10px;
    margin-top: 5px;
    --padding-start: 15px;
    background:white;
    padding: 15px;
}
.back2{
    --background: var(--ion-color-grey);
    border-radius: 5px;
    margin-top: 5px;
    --padding-start: 15px !important;
}
.margen{
    margin-right: 15px;
    margin-left: 15px;
}
.columnas{
    background:white;
    border-radius: 5px;
    // margin-top: 5px;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 20px
}

.colunm-right{
    margin-right: 15px;
}

.chip-status{
    border-radius: 10px;
}