<ion-header>
  <ion-toolbar>
    <ion-buttons slot="star">
      <ion-menu-button type="button" color="light"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content class= "gris">
  <ion-button fill="clear" color="dark" routerLink="/concessionaire/list">
    <ion-icon name="arrow-back-outline">
    </ion-icon>
     VOLVER
  </ion-button>
  
<ion-row class= "row1 margen">
  <ion-col size="12" class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col class="app-col-shrink app-padding-horizontal-lrg">
        <ion-avatar>
          <img [src]="DefaultImageProfile">
        </ion-avatar>
      </ion-col>
     
      <ion-col class="ion-text-start">
        <h1 class="app-font-lrgr">
          Nombre Propietario
        </h1>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-chip color="secondary" outline class="chip-status" (click)="funcion($event)">
          <ion-label color="success"> 
             Asignado
             <ion-icon name="chevron-down"></ion-icon>
           </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col class="ion-text-start">
    <ion-row>
     <ion-col>
      <ion-item>
        <ion-input placeholder="Teléfono"  class="app-font-sml"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email"  class="app-font-sml">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Dirección"  class="app-font-sml">
        </ion-input>
      </ion-item>
     </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="3" class="ion-align-self-center ion-text-center">
      <ion-item lines="none" class="app-col-shrink">
        <ion-label>
          <p>
            Cédula de Identidad
          </p>
          <ion-text>
            v-00000000
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>
            RIF
          </p>
          <ion-text>
            J-00000000
          </ion-text>
        </ion-label>
      </ion-item>
      </ion-col>
</ion-row>
 <ion-row class="app-margin-top-med">
  <ion-col class="columnas ion-text-center">
    <ion-text class="app-font-lrg">
      <b>
        Información de Concesionario
      </b>
    </ion-text>
    <ion-item>
      <ion-label class="app-font-sml" position="floating">
        Dirección
      </ion-label>
      <ion-input class="app-font-sml"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label class="app-font-sml" position="floating">
        Nombre
      </ion-label>
      <ion-input class="app-font-sml"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="app-font-sml" position="floating">
        RIF 
      </ion-label>
      <ion-input class="app-font-sml"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="app-font-sml">
        Objeto de la Empresa
      </ion-label>
      <ion-input class="app-font-sml"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="app-font-sml">Observación</ion-label>
      <ion-textarea rows="3" class="app-font-sml"></ion-textarea>
    </ion-item>
   </ion-col>
    <ion-col size="4" class="columnas ion-text-center colunm-right">
      <ion-text class="app-font-lrg">
        <b>
          Permisologias asignadas
        </b>
      </ion-text>

      <ion-item *ngFor="let permission of PermissionsAsignated">
        <ion-label class="app-font-sml">
          {{permission.name}}
        </ion-label>

        <ion-button fill="clear" (click)="funcion ($event) ">
          <ion-icon [name]="permission.asignate === true ? 'checkmark' : permission.asignate === false ?'close':'remove'"
            [color]="permission.asignate === true ? 'success' : permission.asignate === false ? 'danger':'warning'"
            class="app-font-xlrg" (click)="changeStatus()"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col> 
  </ion-row>
  <ion-row class="app-padding-vertical backend ion-justify-content-end">
    <ion-col class= "app-col-shrink">
      <ion-button color="light">
        <ion-label>
          CANCELAR
        </ion-label>
      </ion-button>
    </ion-col>
    <ion-col class="app-col-shrink">
      <ion-button class="guardar"> 
        GUARDAR
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
