<ion-content>

  <ion-row class="ion-align-items-center ion-justify-content-center row-image">
    <ion-col size-md="3" size-sm="0">

    </ion-col>

    <ion-col size-md="6" size-sm>

      <div [ngStyle]="{'background': 'url('+ notFound +') no-repeat center center / cover'}" class="image-not-found"></div>

    </ion-col>

    <ion-col size-md="3" size-sm="0">

    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-button color="dark" routerLink="/login">
        Ir al inicio de sesión
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
