<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-content">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-left" size="8">
        <h1 class="app-font-lrgr app-no-margin">
          Propietario
        </h1>
      </ion-col> 

      <ion-col class="ion-text-end">
        <ion-button (click)="filtro = !filtro" class="app-font-sml botonfiltro">
          {{filtro===true?'Filtrar':'ocultar filtros'}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="border" *ngIf="!filtro"> 
      <ion-col>
        <ion-item lines="none">
          <ion-label class="app-font-xsml" position="floating"> NOMBRE COMPLETO </ion-label>
         <ion-input>
         </ion-input>
        </ion-item>
        </ion-col>
      <ion-col offset="0.5">
       <ion-item lines="none">
         <ion-label class="app-font-xsml" position="floating"> IDENTIFICACION </ion-label>
        <ion-input>
        </ion-input>
       </ion-item>
      </ion-col>
      <ion-col>
       <ion-item lines="none">
         <ion-label class="app-font-xsml" position="floating"> EMAIL </ion-label>
        <ion-input>
        </ion-input>
       </ion-item>
     </ion-col>
     <ion-col>
       <ion-item lines="none">
         <ion-label class="app-font-xsml" position="floating"> TELEFONO </ion-label>
        <ion-input>
        </ion-input>
       </ion-item>
     </ion-col>
     <ion-col>
       <ion-item lines="none">
         <ion-select placeholder="ESTATUS" class="whitdh app-font-xsml">
           <ion-select-option value= "asignado"> ASIGNADO </ion-select-option>
           <ion-select-option value= "antiguopropietario"> ANT. PROPIETARIO </ion-select-option>
           <ion-select-option value= "porasignar"> POR ASIGNAR </ion-select-option>
          </ion-select>
        </ion-item>
     </ion-col>
    </ion-row>
    <ion-row class="row2">
      <ion-col>
        <ion-grid class="data-grid">
          <ion-row class="border-bottom-row">
            <ion-col size="0.5">
              <ion-label color="medium" class="app-font-smlr">
      
              </ion-label>
            </ion-col>
            <ion-col class="ion-align-self-end" size="2.5">
              <ion-label color="medium" class="app-font-smlr">
                NOMBRE COMPLETO
                <ion-icon name="caret-down" class="down"></ion-icon>
                <ion-icon name="caret-up" class="up"></ion-icon>
              </ion-label>
            </ion-col>
            <ion-col class="ion-align-self-end" size="2">
              <ion-label color="medium" class="app-font-smlr">
                IDENTIFICACIÓN
                <ion-icon name="caret-down" class="down"></ion-icon>
                <ion-icon name="caret-up" class="up"></ion-icon>
              </ion-label>
            </ion-col>
            <ion-col class="ion-align-self-end" size="2">
              <ion-label color="medium" class="app-font-smlr">
                EMAIL
                <ion-icon name="caret-down" class="down"></ion-icon>
                <ion-icon name="caret-up" class="up"></ion-icon>
              </ion-label>
            </ion-col>
            <ion-col class="ion-align-self-end" size="2">
              <ion-label color="medium" class="app-font-smlr">
                TELÉFONO
                <ion-icon name="caret-down" class="down"></ion-icon>
                <ion-icon name="caret-up" class="up"></ion-icon>
              </ion-label>
            </ion-col>
            <ion-col class="ion-align-self-end" size="3">
              <ion-label color="medium" class="app-font-smlr">
                ESTATUS
                <ion-icon name="caret-down" class="down"></ion-icon>
                <ion-icon name="caret-up" class="up"></ion-icon>
              </ion-label>
            </ion-col>
          </ion-row>
          
           <ion-row>
            <ion-col class="ion-text-center">
              <ion-spinner *ngIf="loadingRecords"></ion-spinner>
              <ion-label color="dark" class="app-font-sml" [hidden]="loadingRecords" *ngIf="records?.length === 0">
                 No hay Registros
              </ion-label>
              <ion-label color="dark" class="app-font-sml" [hidden]="loadingRecords" *ngIf="records?.length === 0">
                 No hay Registros
              </ion-label>
            </ion-col>
          </ion-row>
      
          <ion-row *ngFor="let record of pageHandler.records; index as i" class="ion-align-items-center"
           [class]=" (i % 2) ? 'record-even-row' : 'record-odd-row' " [hidden]="loadingRecords"
           (click)="gotoDetail(record)">
            <ion-col class="ion-align-self-center ion-text-center" size-sm="1" size-md="0.5" >
              <ion-label color="medium" class="app-font-smlr">{{ i < 9 ? '0'+(i+1) : i+1 }}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" size-sm="2.5" size-md="2.5">
              <ion-label color="medium" class="app-font-smlr">{{ record.name }}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" size-sm="2" size-md="2">
              <ion-label color="medium" class="app-font-smlr">{{ record.identification }}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" size-sm="2" size-md="2">
              <ion-label color="medium" class="app-font-smlr">{{ record.email }}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" size-sm="2" size-md="2" >
              <ion-label color="medium" class="app-font-smlr">{{ record.phone }}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" size-sm="3" size-md="3">
              <ion-badge [ngClass]="record.status === 'Asignado' ? 'enabled' : record.status === 'Por asignar' ? 'disabled' : 'waiting'"> {{ record.status }} </ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div slot="fixed" class="footer">
    <ion-grid class="footer-content">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-label color="medium" class="app-font-sml">
            Estas viendo 10 de 15 registros
          </ion-label>
        </ion-col>
        <ion-col class="pagination-col">
          <ion-button style="width: fit-content;" color="medium" fill="clear" size="small"
            [disabled]="pageHandler.current_page<=1" (click)="loadPage(pageHandler.current_page-1)">
            <ion-label class="app-font-sml"> Atrás </ion-label>
          </ion-button>
          <ion-button color="light" size="small" *ngIf="pageHandler.current_page-2>1" (click)="loadPage(1)">{{ 1 }}
          </ion-button>
          <ion-label *ngIf="pageHandler.current_page-3>1">...</ion-label>
          <ion-button color="light" size="small" *ngIf="pageHandler.current_page-2>0"
            (click)="loadPage(pageHandler.current_page-2)">{{ pageHandler.current_page-2 }}</ion-button>
          <ion-button color="light" size="small" *ngIf="pageHandler.current_page-1>0"
            (click)="loadPage(pageHandler.current_page-1)">{{ pageHandler.current_page-1 }}</ion-button>
          <ion-button color="medium" size="small">{{ pageHandler.current_page }}</ion-button>
          <ion-button color="light" size="small" *ngIf="pageHandler.current_page < pageHandler.total_pages"
            (click)="loadPage(pageHandler.current_page+1)">{{ pageHandler.current_page+1 }}</ion-button>
          <ion-button color="light" size="small" *ngIf="pageHandler.current_page+1 < pageHandler.total_pages"
            (click)="loadPage(pageHandler.current_page+2)">{{ pageHandler.current_page+2 }}</ion-button>
          <ion-label *ngIf="pageHandler.current_page+3 < pageHandler.total_pages">...</ion-label>
          <ion-button color="light" size="small" *ngIf="pageHandler.current_page+2 < pageHandler.total_pages"
            (click)="loadPage(pageHandler.total_pages)">{{ pageHandler.total_pages }}</ion-button>
          <ion-button style="width: fit-content;" color="medium" fill="clear" size="small"
            [disabled]="pageHandler.current_page>=pageHandler.total_pages" (click)="loadPage(pageHandler.current_page+1)">
            <ion-label class="app-font-sml">
              Siguiente
            </ion-label>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button class="app-font-sml botonfinal" [disabled]="downloadingRecords" fill="clear" size="small" 
          routerLink="/owner/add">
            Agregar propietario
            <ion-icon color="blue" name="add-circle" class="app-font-xlrg"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- <ion-col class="ion-text-end ">
          <ion-button class="app-font-sml" [disabled]="downloadingRecords" color="medium" fill="clear" size="small" 
          (click)="downloadRecords()">
            <ion-label [hidden]="downloadingRecords">
              Descargar
            </ion-label>
            <ion-spinner [hidden]="!downloadingRecords"></ion-spinner>
            <ion-button fill="clear" class="no-padding">
              <ion-icon color="danger" name="download" class="app-font-xlrg"></ion-icon>
            </ion-button>
          </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
